{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Tashan Emlak Hakkımızda</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}

<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="{% static 'img/bg/20.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Hakkımızda</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Ana Sayfa</a></li>
                                <li>Hakkımızda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120--- pb-90 mt--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'about2.png' %}" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Taşhan Emlak İnşaat</h6>
                            <h1 class="section-title">Taşhan Emlak & İnşaat
                                Sektörün Lider<span>.</span></h1>
                            <p>Taşhan İnşaat Emlak olarak, merkezi Aydın’da olan kuruluşumuzda 2016 yılından beri hizmet vermekte ve sektöre değerli katkılarda bulunmaktayız.

Kurulduğu ilk günden beri ileri teknoloji, verimli iş gücü, yüksek hizmet anlayışı ve yenilikleri, çalışma prensibimize dahil ederek projelerimizi hayata geçiriyoruz. Yaşamsal işlevler ve ince detayların önemini gözeterek üreten, ülkesine değer katmayı amaçlayan bir kuruluşuz.<br>

Zirve hizmet anlayışını benimseyerek kurduğumuz uzman kadromuz ve eğitimli çalışanlarımızla; müşteri memnuniyeti ve güvenilirlik odaklı çalışmamız ile her zaman kaliteli ve özgün projeleri hayata geçirmeyi hedefliyoruz. Sürekli yenilik ve mükemmellik odaklı yaklaşımımızla bu hedefleri en üst düzeyde gerçekleştirmek en önemli değerlerimizden biridir.<br> Bu değerlere göre bilgi birikimi ve tecrübemizi genç kadrolara aktararak bugüne kadar sürdürdüğümüz çalışma prensibimizi geleceğe taşımayı hedefliyoruz.

İnşaat sektöründe hizmetleri ve saygınlığı ile örnek bir firma olmayı hedefleyen bir kuruluş olarak; günümüz koşulları ve müşteri beklentilerini dikkate alarak hizmet sunmaktayız. Çevrenin korunması ve iş güvenliğinin sağlanmasına dikkat ederek proje ve hizmetlerimizi yürütüyor, bu bilinçle hareket ederek sağlam, estetik, güvenli yapılar inşa ediyoruz.  Sahip olduğumuz yaklaşımla, hayata geçirdiğimiz her projenin kurumsal birikimimize yepyeni değerler kattığına inanıyoruz.

Taşhan Emlak & İnşaat olarak, gerçekleştirdiğimiz her projeyi bu çağdaş bakış açılarıyla hayata geçiriyoruz. Bugüne kadar olduğu gibi, gelecekte de hayata geçireceğimiz projelerimizle sektöründe sağlam ve istikrarlı adımlarla ilerlemeye devam edeceğiz..</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="ltn__our-history-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__our-history-inner">
                        <div class="ltn__tab-menu text-uppercase">
                            <div class="nav">
                                <a class="active show" data-bs-toggle="tab" href="#liton_tab_2_1">Misyon</a>
                                <a  data-bs-toggle="tab" href="#liton_tab_2_2">Vizyon</a>
                                <a data-bs-toggle="tab" href="#liton_tab_2_3">Marmaris</a>
                            </div>
                        </div>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_2_1">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                <img src="{% static 'mis.jpeg' %}" alt="Image">
                                                <div class="ltn__history-icon">
                                                    <i class="fas fa-award"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2--- text-center---">
                                                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Taşhan Emlak İnşaat</h6>
                                                    <h1 class="section-title">Misyonumuz </h1>
                                                    <p>Çağdaş pazarlama yöntemleri kullanarak müşterilerimiz ve ortaklarımız için en iyi değeri, hizmeti ve memnuniyeti sunma amacındayız.</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_2_2">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                <img src="{% static 'viz.jpeg' %}" alt="Image">
                                                <div class="ltn__history-icon">
                                                    <i class="icon-award"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2--- text-center---">
                                                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Taşhan Emlak İnşaat</h6>
                                                    <h1 class="section-title">Vizyonumuz</h1>
                                                    <p>Taşhan İnşaat&Emlak olarak vizyonumuz faaliyet gösterdiğimiz sektörde doğruluk, dürüstlük ve güvenilirlik ilkelerinden ödün vermeden çalışmalarımıza devam ederek örnek ve lider şirket olmaktır.</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_2_3">
                                <div class="ltn__product-tab-content-inner">
                                    <div class="row">
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-img-wrap about-img-left">
                                                <img src="{% static 'marmaris.jpeg' %}" alt="Image">
                                                <div class="ltn__history-icon">
                                                    <i class="fas fa-medal"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-self-center">
                                            <div class="about-us-info-wrap">
                                                <div class="section-title-area ltn__section-title-2--- text-center---">
                                                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Marmaris</h6>
                                                    <h1 class="section-title">Marmaris</h1>
                                                    <p>Tarihin, doğanın ve tüm imkanların bir arada bulunmasının yaşanılabilir kıldığı Marmaris, Türkiye’nin güneybatı sahilinde Ege ve Akdeniz’in kesiştiği noktada Muğla iline bağlı bir liman kentidir. Ege kıyılarının en büyük tatil yeri konumunda olmasıyla beraber turizm açısından Türkiye’nin en önemli merkezlerinden biridir.
Zengin tarihi ve harika doğası ile Marmaris Yarımadası, bu coğrafi konumuyla tarih boyunca sayısız uygarlıkların yerleşim yeri olmuş, çok sayıda limana ve kente ev sahipliği yapmıştır. Doğal güzellikleri, uzun sahil şeridi, çam ormanlarıyla kaplı tepelerinden muhteşem manzarası, bakir koyları, eşsiz plajları, antik kentleri, yat marinaları ve her türlü aktiviteyi sunmasıyla beraber her yıl yüz binlerce turist ağırlamaktadır. Ayrıca, çevresinde yaklaşık 50 kilometrelik bir alanda muhteşem koylarda Selimiye, Bozburun, Akyaka, Söğüt gibi çok sayıda tatil beldesi bulunmaktadır.
Yazın sıcak, kışın yağmurlu geçtiği ılıman iklime sahip Marmaris’te yılın altı ayında hemen her noktasından denize girilebilmektedir. Ayrıca güneşin ve temiz havanın keyfi tüm yıl sürmektedir.
Küçük ve sakin bir kent olmasına karşın bir şehirdeki imkanların nerdeyse tümü mevcuttur. Başarılı okulları, gelişmiş hastaneleri, alışveriş merkezleri, yaz-kış çeşitli uluslararası yarışları, sayısız açık hava etkinlikleri, bisiklet yolları ve yürüyüş imkanı sunan uzun sahil şeridi, hemen her noktasından keyif alınan güzel doğa manzaralarıyla ister eğlenmek isteyin ister dinlenmek; huzur veren doğa içi yaşam sizi bekliyor!</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block jss %}
{% endblock %}