{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Tashan Emlak Hakkımızda</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<section class="fullscreen">
  <div class="container">
    <div class="row">
      <div class="fullscreen_inner centered">
        <div class="col-sm-12">
          <div class="text-center">
            <a href="#." class="logo_full"><img class="logo" src="images/logo-white.png" alt=""></a>
            <h1 class="bottom30 text-uppercase">Taşhan Emlak & İnşaat</h1>
            <h3 class="bottom10 text-uppercase">7000'den fazla müşteri, Sonuç odaklı işler.</h3>
            <p class="bottom30 hidden-xs">Taşhan İnşaat Emlak olarak, merkezi Aydın’da olan kuruluşumuzda 2016 yılından beri hizmet vermekte ve sektöre değerli katkılarda bulunmaktayız.

Kurulduğu ilk günden beri ileri teknoloji, verimli iş gücü, yüksek hizmet anlayışı ve yenilikleri, çalışma prensibimize dahil ederek projelerimizi hayata geçiriyoruz. Yaşamsal işlevler ve ince detayların önemini gözeterek üreten, ülkesine değer katmayı amaçlayan bir kuruluşuz.

Zirve hizmet anlayışını benimseyerek kurduğumuz uzman kadromuz ve eğitimli çalışanlarımızla; müşteri memnuniyeti ve güvenilirlik odaklı çalışmamız ile her zaman kaliteli ve özgün projeleri hayata geçirmeyi hedefliyoruz. Sürekli yenilik ve mükemmellik odaklı yaklaşımımızla bu hedefleri en üst düzeyde gerçekleştirmek en önemli değerlerimizden biridir. Bu değerlere göre bilgi birikimi ve tecrübemizi genç kadrolara aktararak bugüne kadar sürdürdüğümüz çalışma prensibimizi geleceğe taşımayı hedefliyoruz.

İnşaat sektöründe hizmetleri ve saygınlığı ile örnek bir firma olmayı hedefleyen bir kuruluş olarak; günümüz koşulları ve müşteri beklentilerini dikkate alarak hizmet sunmaktayız. Çevrenin korunması ve iş güvenliğinin sağlanmasına dikkat ederek proje ve hizmetlerimizi yürütüyor, bu bilinçle hareket ederek sağlam, estetik, güvenli yapılar inşa ediyoruz.  Sahip olduğumuz yaklaşımla, hayata geçirdiğimiz her projenin kurumsal birikimimize yepyeni değerler kattığına inanıyoruz.

Taşhan Emlak & İnşaat olarak, gerçekleştirdiğimiz her projeyi bu çağdaş bakış açılarıyla hayata geçiriyoruz. Bugüne kadar olduğu gibi, gelecekte de hayata geçireceğimiz projelerimizle sektöründe sağlam ve istikrarlı adımlarla ilerlemeye devam edeceğiz..
            </p>
            <a href="/" class="btn-blue border_radius">Ana Sayfa</a>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="fullscreen_footer">
        <div class="col-sm-6">
          <div class="info-box first">
            <div class="icons"><i class="icon-telephone114"></i></div>
            <ul>
              <li><strong>Phone Number</strong></li>
              <li>+1 900 234 567 - 68</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 text-right">
          <ul class="social_share top30">
            <li><a href="javascript:void(0)" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:void(0)" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a class="google" href="javascript:void(0)"><i class="icon-google4"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}




{% block jss %}
{% endblock %}