{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Tashan Emlak Ürünlerimiz</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}
<section class="property-query-area bg_light">
  <div class="container">
    <div class="row">
      <form class="callus" method="get" action="/tashan-emlak/filter/">
        {% csrf_token %}
        <div class="col-md-3 col-sm-6">
          <div class="single-query form-group">
            <div class="intro">
              <select name="city" >
                <option selected="" value="Muğla">İl</option>
                {% for product in citys %}
                <option  value="{{product.name}}">{{product.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-query form-group">
            <div class="intro">
              <select name="region">
                <option selected="" value="">İlçe</option>
                {% for product in regions %}
                <option  value="{{product.name}}">{{product.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single-query form-group">
            <div class="intro">
              <select name="type">
                <option class="active">Durumu</option>
                {% for product in types %}
                <option value="{{product.name}}">{{product.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="single-query form-group">
            <div class="intro">
              <select name="model">
                <option class="active">Gayirmenkul Tipi</option>
                {% for model in categorys %}
                <option value="{{model.name}}">{{model.name}}</option>

                {% endfor %}
              </select>
            </div>
          </div>
        </div>




        <div class="col-md-1">
          <div class="row">

            <div class="col-md-6 text-center form-group">
              <button type="submit" class="btn-blue border_radius top15">Ara</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="deal" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="uppercase">Best Deal Properties</h2>
        <p class="heading_space">We have Properties in these Areas View a list of Featured Properties.</p>
      </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-sm-6">
      <div class="listing_full">
            <div class="image">
              <img alt="image" src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}">
              <span class="tag_t">{{product.type}}</span>
            </div>
            <div class="listing_full_bg">
              <div class="listing_inner_full">
                <span><a href="{{product.get_absolute_url}}"><i class="icon-like"></i></a></span>
                <a href="property_detail1.html">
                  <h3>{{product.name}}</h3>
                  <p>{{product.region}}</p>
                  <p>Oda Tipi : {{product.room}}</p>
                </a>
                <div class="favroute clearfix">
                  <div class="property_meta"><span><i class="icon-select-an-objecto-tool"></i>{{product.m2}} sq ft</span><span><i class=" icon-bed"></i>{{product.bathrooms}} Yatak Odası</span><span><i class="icon-safety-shower"></i>{{product.bedrooms}} Banyo</span><span class="border-l">TL {{product.price}}</span></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
      <div class="col-sm-6">
      <div class="listing_full">
            <div class="image">
              <img alt="image" src="{% static 'images/b-d-property2.jpg' %}">
              <span class="tag_t">For Sale</span>
            </div>
            <div class="listing_full_bg">
              <div class="listing_inner_full">
                <span><a href="#."><i class="icon-like"></i></a></span>
                <a href="property_detail2.html">
                  <h3>Park Avenue Apartment</h3>
                  <p>Towson London, MR 21501</p>
                </a>
                <div class="favroute clearfix">
                  <div class="property_meta"><span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span><span><i class=" icon-bed"></i>3 Bedrooms</span><span><i class="icon-safety-shower"></i>2 Bedrooms</span><span class="border-l">$38,600 / pm</span></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
      <div class="listing_full">
            <div class="image">
              <img alt="image" src="{% static 'images/b-d-property3.jpg' %}">
              <span class="tag_t">For Sale</span>
            </div>
            <div class="listing_full_bg">
              <div class="listing_inner_full">
                <span><a href="#."><i class="icon-like"></i></a></span>
                <a href="property_detail3.html">
                  <h3>Park Avenue Apartment</h3>
                  <p>Towson London, MR 21501</p>
                </a>
                <div class="favroute clearfix">
                  <div class="property_meta"><span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span><span><i class=" icon-bed"></i>3 Bedrooms</span><span><i class="icon-safety-shower"></i>2 Bedrooms</span><span class="border-l">$38,600 / pm</span></div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
      <div class="listing_full">
            <div class="image">
              <img alt="image" src="{% static 'images/b-d-property4.jpg' %}">
              <span class="tag_t">For Sale</span>
            </div>
            <div class="listing_full_bg">
              <div class="listing_inner_full">
                <span><a href="#."><i class="icon-like"></i></a></span>
                <a href="property_detail1.html">
                  <h3>Park Avenue Apartment</h3>
                  <p>Towson London, MR 21501</p>
                </a>
                <div class="favroute clearfix">
                  <div class="property_meta"><span><i class="icon-select-an-objecto-tool"></i>4800 sq ft</span><span><i class=" icon-bed"></i>3 Bedrooms</span><span><i class="icon-safety-shower"></i>2 Bedrooms</span><span class="border-l">$38,600 / pm</span></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}




{% block jss %}
{% endblock %}